body {
    width: 1000px;
    color: black;
    font-size: 16;
    font-family: cursive;
}
h1{
    font-size: 18;
    color: black;
}

h2{
    font-size: 16;
    color:  red;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14;
    color: blue;
}